.economy{
	padding: 60px 0;
	background-color: #F7F9FF;
	&-wrapper{
        padding-left: 150px;
        padding-right: 150px;
		padding-bottom: 80px;
        justify-content: center;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 300px);
			height: 1px;
			background-color: #D9E5FF;
		}
	}
    &-around{
        position: relative;
    }
	&-thing{
		height: 100px;
		position: relative;
        &:not(:last-child){
            margin-bottom: 30px;
        }
	}
	&-round{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 10px;
		border-radius: 50%;
		background-color: #6E48FE;
	}
	&-left{
        width: 200px;
        position: absolute;
        left: -300px;
        top: 0;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.economy-round{
			right: -50px;
		}
	}
	&-right{
        width: 200px;
        position: absolute;
        right: -300px;
        top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.economy-round{
			left: -50px;
		}
	}
	&-amount{
		color: #5253FB;
	}
	&-desc{
		margin-bottom: 0;
	}
	&-diagram{
		align-self: center;
		position: relative;
		z-index: 100;
        padding: 100px;
		&::before{
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
            width: 345px;
            height: 345px;
			position: absolute;
			background-image: url(../img/token/diagram.svg);
			z-index: -1;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}
	&-number{
        margin-top: 20px;
		font-family: 'Gilroy Bold';
		font-size: 43px;
		margin-bottom: 0;
		line-height: 1.2;
	}
	&-b{
		font-size: 16px;
		margin-left: 5px;
	}


	&-bottom{
		padding: 30px 150px;
		justify-content: center;
		.economy-thing{
			margin-top: 0;
			height: auto;
		}
	}
	&-card{
		align-items: center;
		justify-content: center;
		&:first-child{
			margin-right: 80px;
		}
	}
	&-img{
		width: 115px;
		height: 115px;
		background-color: #fff;
		border-radius: 50%;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&_bg{
			width: 60px;
			height: 60px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
		}
	}
	&-button{
		padding-left: 55px !important;
		padding-right: 55px !important;
		margin-bottom: 15px !important;
		display: inline-block;
	}
	&-buy{
		padding-top: 65px;
	}
}