.video{
    cursor: pointer;
	height: 600px;
	background-image: url(../img/video.png);
	background-size: cover;
	background-repeat: no-repeat;
    overflow: hidden;
	position: relative;
    &-filter{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: transparent;
        transition: background-color .125s;
        &.hovered{
            background-color: rgba(0,0,0,.19);
        }
    }
    &-play{
        width: 120px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background-image: url(../img/watch.svg);
        z-index: 100;
    }
	&-field{
		position: absolute;
		top: 900px;
		height: 600px;
		left: 0;
		right: 0;
		cursor: pointer;
	}
	&-modal{
		.modal-body{
			.video-frame{
				width: 100%;
				position: relative;
				&::before{
					content: '';
					display: block;
					padding-top: 56.25%;
				}
				iframe{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px){
	.video-modal{
		.modal-dialog{
			max-width: 1170px;
		}
	}
}