@font-face{
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy Bold'), url('../fonts/Gilroy-Bold.otf') format('opentype');
}
@font-face{
    font-family: 'Gilroy Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy SemiBold'), url('../fonts/Gilroy-SemiBold.otf') format('opentype');
}
@font-face{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy Regular'), url('../fonts/Gilroy-Regular.otf') format('opentype');
}
